<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p class="text-center">Copyright ©2017 Calling X
      <br>Design by
      <a href="http://yangzhujun.logdown.com" target=_new>yangzhujun</a>
  </p>
</footer>

<style>
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}
</style>
